.button {
  width: 100%;
  background: darkblue;
  color: white;
  border: none;
  margin: 100px auto;
  padding: 25px 90px;
  cursor: pointer;
  font-weight: bold;
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}
